<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h3>Sign up</h3>
    <form #signUpForm="ngForm" (ngSubmit)="register()">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input 
        required
        type="email" 
        id="email"
        name="email"
        #email="ngModel"
        [(ngModel)]="model.email"
        class="form-control"
        email>
        <div class="alert alert-danger" [hidden]="email.valid || email.pristine">Incorrect email format.</div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input 
        required
        type="text" 
        id="username"
        name="username"
        #username="ngModel"
        [(ngModel)]="model.username"
        class="form-control" pattern="^\w{4,32}$">
        <div class="alert alert-danger" [hidden]="username.valid || username.pristine">Sorry, that username's invalid. It has to be between 4 and 32 symbols and contain only letters and digits.</div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          required
          type="password"
          id="password"
          name="password"
          #password="ngModel"
          [(ngModel)]="model.password"
          class="form-control"
          pattern="^\w{6,64}$">
          <div class="alert alert-danger" [hidden]="password.valid || password.pristine">Password must contain only letters and digits and must be between 6 and 64 symbols.</div>
      </div>
      <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" 
          required name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel">
          <div class="alert alert-danger" [hidden]="(password.value === confirmPassword.value) || confirmPassword.pristine">Both passwords must match.</div>
        </div>
      <button class="btn btn-primary" [disabled]="signUpForm.invalid" type="submit">Sign Up</button>
    </form>
    <div class="alert alert-danger" *ngIf="registerFailed">
      Registration failed! Error: <p>{{errorDescription}}</p>
    </div>
  </div>
</div>