<div *ngIf="bindingModel" class="row">
    <div class="col-xs-12">
      <form #editForm="ngForm" (ngSubmit)="edit()">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input required type="text" id="name" name="name" #name="ngModel" [(ngModel)]="bindingModel.name" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="name">Price</label>
                <input required type="number" id="price" name="price" #price="ngModel" [(ngModel)]="bindingModel.price" class="form-control">
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="imagePath">Image URL</label>
              <input required type="text" id="imagePath" name="imagePath" #imagePath="ngModel" [(ngModel)]="bindingModel.imagePath" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <img src="{{bindingModel.imagePath}}" class="img-responsive" style="max-height: 300px;">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <textarea required type="text" id="description" class="form-control" name="description" #description="ngModel" [(ngModel)]="bindingModel.description" rows="6"></textarea>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" [disabled]="editForm.invalid" type="submit">Edit</button>
      </form>
    </div>
  </div>
  