<h3>Cart:</h3>
<ul *ngIf="productsInCart$ | async as productsInCart; else loading" class="list-group">
  <div *ngIf="productsInCart.length == 0">
    (no items in cart)
  </div>
  <li *ngFor="let cartProduct of productsInCart" class="list-group-item d-flex justify-content-between align-items-center">
    <img src="{{cartProduct.imagePath}}" alt="{{cartProduct.name}}">
    <a class="badge badge-light badge-pill">{{cartProduct.price}} $</a>
    <a class="badge badge-light badge-pill" routerLink="../../details/{{cartProduct.ownerId}}/{{cartProduct.productId}}">{{cartProduct.name}}</a>
    <button class="btn btn-sm btn-danger" (click)="removeItemFromCart(cartProduct.productId)">Remove from cart</button>
    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal">
        Remove from cart
    </button> -->
  </li>
  <small>Product count: {{productCount}}</small>
</ul>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Attention!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="removeItemFromCart(cartProduct.productId)">Yes</button>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
    Loading stuff...
</ng-template>