{{> header}}
<section id="viewDiscover">
    <div class="content">
        <div class="chirps">
            <h2 class="titlebar">Discover</h2>
            <div id="userlist">
                {{#each allUsers}}
                <div class="userbox">
                    <div>
                        <a href="#" class="chirp-author" onclick="loadOtherProfilePage('{{_id}}')">{{username}}</a>
                    </div>

                    <div class="user-details">
                        <span>{{followersCount}} followers</span>
                    </div>
                </div>
                {{/each}}
                <!-- TODO Load more user profiles -->
            </div>
        </div>
    </div>
</section>
{{> footer}}