<header>
    <span>Chirper</span>
</header>
{{#if user.isAuthenticated}}
<div class="menu">
    <a href="#" onclick="loadFeed()">Home</a>
    <a href="#" onclick="loadDiscover()">Discover</a>
    <a href="#" onclick="loadProfilePage()">Me</a>
    <a href="#" onclick="logoutUser()">Logout</a>
</div>
{{/if}}