{{> header}}
<main>
    {{!-- {{> notifications}} --}}
    <section id="viewUserHome">
        <h1 id="viewUserHomeHeading">Welcome, {{user.username}}!</h1>
        <a href="#" id="linkUserHomeShop" onclick="loadShop()">Shop</a>
            <a href="#" id="linkUserHomeCart" onclick="loadCart()">Cart</a>
    </section>
</main>
{{> footer}}