{{#if user.isAuthenticated}}
<nav>
    <div class="left-container">
        <ul>
            <li><a href="#" onclick="loadHome()">Home</a></li>
            <li><a href="#" onclick="loadMyFlights()">Flights</a></li>
        </ul>
    </div>
    <div class="right-container">
        <span>Welcome, {{user.username}} |</span>
        <a href="#" class="log-out" onclick="logoutUser()">Logout</a>
    </div>
</nav>
{{else}}
<nav>
    <div class="left-container">
        <ul>
            <li><a href="#" onclick="loadLoginUser()">Login</a></li>
            <li><a href="#" onclick="loadRegisterUser()">Register</a></li>
        </ul>
    </div>
</nav>
{{/if}}