{{#if user.isAuthenticated}}
<nav>
    <div class="left-container">
        <ul>
            <li onclick="loadHome()"><a href="#">Home</a></li>
            <li onclick="loadMyFlights()"><a href="#">Flights</a></li>
        </ul>
    </div>
    <div class="right-container">
        <span>Welcome, {{user.username}} |</span>
        <a href="#" class="log-out" onclick="logoutUser()">Logout</a>
    </div>
</nav>
{{else}}
<nav>
    <div class="left-container">
        <ul>
            <li onclick="loadLoginUser()"><a href="#">Login</a></li>
            <li onclick="loadRegisterUser()"><a href="#">Register</a></li>
        </ul>
    </div>
</nav>
{{/if}}